/* panasonic */
.btn-warning {
    color: #fff;
    background-color: #ee9f09;
}

.box-admin-log3{
    background: url(../img/login-box2.png) center center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 500px;
}
.box-admin-login {
    padding:40px;
}
body.sb-l-o{
    background-color:#dfebef;
}
nav.menu-principal {
    background-color:#38ae60;
}
.btn-logout {
    font-size: 10px;
    padding: 4px 10px !important;
    margin-top: 7px !important;
    margin-left:5px;
}
body { 
    font-family: 'Roboto', sans-serif;
    background-color:#09244b;
    min-height: 500px;
    height:100vh;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-weight:normal;
}
header {
    display:block;
    top:0px;
    width:100%;
    position:fixed;
    background-color:#fff;
    min-height:61px;
    z-index:999;
    box-shadow:rgba(0,0,0,0.5) 0px 0px 10px;
}
header.menu-admin {
    position:unset !important;
}
.logo-main {
    padding:10px 0px 10px 0px;
}
.image-step {
    margin-bottom:20px;
    max-width: 100%;
    height: auto;
}
#adminLog {
    background: url(../img/bgLogin.jpg) center top;
    background-repeat:no-repeat;
    background-size:cover;
    color:#fff;
    min-height: 100vh;
}
#comoFunciona {
    background: url(../img/bgLogin.jpg) center top;
    background-repeat:no-repeat;
    background-size:cover;
    color:#fff;

    height:100vh;
    min-height:700px;
}
#regulamento {
    background-color:#09244b;
    padding-bottom:80px;
    color:#fff;
    box-shadow: rgba(0,36,75,1) 0px -100px 100px;
    height:100vh;
}
.regulamentoContent{
    margin-top:0px;
    height:calc(100vh - 240px);
}
#resgate {
    background-color:#0059a4;
    padding-bottom:50px;
    color:#fff;
}
#contato {
    background-color:#f0f0f0;
    padding-bottom:50px;
    padding-top:110px;
    height:101vh;
    background: url(../img/bgLoginPb.jpg) center top;
}
.first-section{
    padding-top: 100px;
}

.titulo {
    text-align:center;
    color:#fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:bold;
    font-size:38px;
    text-align:center;
    border-bottom:1px solid #acc7de;
}
.titulo.titulo-inverse {
    text-align:center;
    color:#005aab;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:bold;
    font-size:38px;
    text-align:center;
    border-bottom:1px solid #77a4cc;
}
.titulo h2 {
    font-size:38px;
    font-weight:bold;
    margin:0px;
    width:40%;
    border-bottom:4px solid #fff;
    margin:auto;
    padding-bottom:10px;
}
.titulo.titulo-inverse h2 {
    color:#005aab;
    border-bottom:4px solid #005aab;
    margin:auto;
    padding-bottom:10px;
}
.titulo h1 {
    font-size:20px;
    font-weight:bold;
    margin:0px;
    width:200px;

    padding-bottom:10px;
    padding-top: 20px;
}
.titulo.titulo-inverse h1 {
    color:#005aab;

    text-align:left;
    padding-bottom:10px;
}
.admin-form .gui-input[disabled], .admin-form .gui-textarea[disabled] {
    background-color: #f0f0f0;
}
@media (max-width:768px) {
    .titulo h2 {
        font-size:30px;
        width:80%;

    }

    #comoFunciona {
        background: url(../img/bgLogin.jpg) center top;
        background-repeat:no-repeat;
        background-size:cover;
        color:#fff;

        height:auto;
        min-height:700px;
    }
}

.btn{
    border-radius: 2px;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 10px 15px 10px 15px;
}

.btn-sm{
    height: 20px;
    font-size: 13px !important;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 19px;
}

.btn-primary {
    color: #fff;
    background-color: #005aab;
}
.admin-form .btn-primary {
    font-weight:normal;
    background: linear-gradient(#00b3fe, #008fd4);
    background-color: #00a2ea;
}

.admin-form .btn-primary:hover {
     background: linear-gradient(#00abf3, #0088ca);
    background-color: #00a2ea;
}

.admin-form .btn-warning {
    font-weight:normal;
    background: linear-gradient(#f39109, #ed5b1e);
    background-color: #f07912;
}

.admin-form .btn-warning:hover {
     background: linear-gradient(#da8208, #dc541c);
    background-color: #f07912;
}


/* bordas */
.bt {
    border-top:1px solid #80add4;
}
/* espaçamento */

.mr-15{
    margin-right:-15px !important;
}

.mr20{
    margin-right:20px !important;
}

.mr80{
    margin-right:80px !important;
}

.mt7{
    margin-top:7px !important;
}
.mt14{
    margin-top:14px;
}

.mt15{
    margin-top:15px;
}

.mt20{
    margin-top:20px;
}

.mt60{
    margin-top:60px;
}

.mt-20{
    margin-top:-20px;
}

.p10{
    padding:10px !important;
}

.p20{
    padding:20px !important;
}

.pt5{
    padding-top:5px;
}

.pr0{
    padding-right:0px !important;
}

.pl0{
    padding-left:0px !important;
}

.noPadding{
    padding-right:0px !important;
    padding-left:0px !important;
}

/*navbar*/
.navbar-default{
    font-family: 'Roboto Condensed', sans-serif;
    background-image:none;
    background-color:unset;
}
.navbar-brand{
    padding:0px;
}

.navbar-brand > img{
    height: 90%;
    margin-top:8px;
}

.navbar {
    box-shadow:none;
    height:30px;
}

.navbar-nav {
    text-align: center;
}
   .navbar-nav  > li {
      float: none;
      display: inline-block;
  }

.navbar-nav > li > a {
    line-height: 15px;
}
.navbar-nav > li > a:hover {
    color:#000;
}
   .navbar .nav > li > a{
        color: #fff;
        font-size: 16px;
        height: 30px;
        max-height: 30px;
        font-weight: normal;
        text-shadow: none;
        padding: 24px 40px 26px 40px;
        margin: 0px;
        line-height: 0px;
        border: 0px solid #fff;
   }

   .navbar .nav > li.active {
        background-color: #157848;
background-image: none;
color: #fff !important;
text-shadow: none;
box-shadow: none;
border: 0px solid #157848;
border-radius: 0px;
}


/* centraliza menu */
.navbar .navbar-nav {
display: inline-block;
float: none !important;
}

.navbar .navbar-collapse {
text-align: center;
}
/* centraliza menu */
.navbar .nav > li.active > a{
    background-color: #157848;
background-image: none;
color: #fff;
text-shadow: none;
box-shadow: none;
border: 0px solid #157848;
border-radius: 0px;
}
.navbar .nav > li > a.active{
    background-color: #157848;
    background-image:none;
    color: #fff;
    text-shadow: none;
    box-shadow: none;
    border: 0px solid #157848;
    border-radius: 0px;
}
.navbar .nav > li.active > a:hover{
    background-color:#157848 !important;
    color: #fff !important;
    border: 0px solid #157848;
    border-radius: 0px;
}
.navbar .nav > li > a.active:hover{
    background-color:#005aab !important;
    color: #fff !important;
    border: 2px solid #005aab;
    border-radius: 20px;
}

.navbar .nav > li.active > a:focus{
    color: #fff !important;
}
.navbar .nav > li > a.active:focus{
    color: #fff !important;
}

.navbar .nav > li > a:hover {
    background-color:#239248;
    background-image:none;
    color: #fff;
    text-shadow:none;
    text-decoration:none;
    border: 0px solid #eaf0f2;
    border-radius: 0px;
}
.navbar .nav>li.open>a,.navbar .nav>li:focus>a,.navbar .nav>li:hover>a,.navbar .nav>li>a:focus,{color:#222;background-color:#000}
.navbar .nav > li > a:focus {background-color: #000;}
.navbar .nav > li > a:focus {
    background-color:unset;
    background-image:none;
    color:#000;
    text-shadow:none;
    text-decoration:none;
}

.navbar .nav > li.active > a:hover {
    background-color:unset;
    background-image:none;
    color:#ee534f;
    text-decoration:none;
}

.navbar .nav > li.active > a:focus {
    background-color:unset;
    background-image:none;
    text-decoration:none;
    color:#005aab;
}

/*drop*/
.navbar-nav > .open > a {
    background-color:unset;
    background-image:none;
    color:#fff;
    text-shadow:none;
    text-decoration:underline;
}
.navbar .social{
    color:#fff;
    margin-top: 18px;
}

@media (max-width:992px) {
    .navbar .nav > li > a {
        padding: 14px 10px;
        padding-bottom: 0px;
    }

    .navbar-right {
        position: absolute;
        right: calc(50% - 350px);
    }
}
@media (max-width:767px){
    .navbar .nav > li > a{font-size: 11px;}

    .navbar-nav{
        min-width: 600px;
    }

    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
        margin-left: 0px;
    }
    .mr-15{
        margin-right:0px !important;
    }
    .navbar-right{
        right: calc(50% - 320px);
    }
    .carousel-inner{
        height: 240px;
    }
}
#menuOptions {
    display:none;
    z-index: 100;
    top: 60px;
    background-color: #135d9e;
    padding: 0px 10px 10px 10px;
    margin: 0px;
    position: fixed;
}
.showElem{
        display: grid !important;
    }
.showElem2{
        display: block !important;
    }
    .dropSub{
        display:none;
        position: absolute;

        top: 100%;
        left: 0;
        z-index: 1000;

        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
            margin-top: 0px;
        list-style: none;
        font-size: 14px;
        text-align: left;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 4px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        background-clip: padding-box;

    }
    .dropSub ul  {
        padding: 0px;
        margin:0px;
}
    .dropSub li  {
        list-style: none;

}

    .dropSub li a {
        list-style: none;
    display: block;
    padding: 6px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
    .dropSub li a:hover {
    color: #fff;
    background-color:#157848;
}
    .dropdown-toggle.open {
        background-color: #239248 !important;
        color: #fff !important;
        border-radius: 0px;
        border: 0px solid #eaf0f2 !important;
    }

@media (max-width:768px){
    .dropSub{
        display:none;
        position: relative;
        top: 0px;
        left: 0;
        min-width: 160px;
        text-align: center;
        background-color: #000;
        margin: 0px;
        padding:0px
    }
        .dropSub li a {
        padding: 10px 20px;
        line-height: 1.42857143;
        color: #fff;
        background-color: #1f7fde;
        border:none;
    }
        .dropSub li a:hover {
        color: #000;
        background-color:#eeeeee;
    }

    .navbar-default .navbar-toggle .icon-bar{
        background-color: #fff;
    }
    .navbar-toggle{
        display: block;
        position: absolute;
        float: left;
        padding: 6px 8px;
        margin-top: 8px;
        margin-bottom: 8px;
        margin-right:0px;
        background-color: #0052b6;
        background-image: none;
        border: 0px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-radius: 4px;
        right: 0px;
        top: 8px;
    }
    .navbar-default .navbar-toggle:hover {
        background-color: #2384c6;
    }
    .navbar-default .navbar-toggle:focus {
        background-color: #2384c6;
    }
    .navbar-collapse{
        padding-right: 0px;
        padding-left: 0px;
    }
    .navbar-collapse.collapse{
        display:none;
    }
    .navbar-toggle .icon-bar{
        width: 15px;
    }
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
        margin-left: 0px;
        left: 50%;
        position: absolute;
        transform: translate(-50%);
        height: 70px;
        margin-top: -6px;
    }
    .navbar-nav{
  
        min-width: 100%;
    }
    .navbar-right{
        right: calc(50% - 240px);
                font-size: 10px;
    }
    ul.navbar-collapse > li{
        display:contents;
    }

    .navbar .nav{
        margin-top: 60px;
    }

    .navbar .nav > li > a{
        padding: 16px 0px;
        background-color: rgba(50,0,0,.9);
        height: 30px;
        max-height: 30px;
        line-height: 0px;
    }
    .fixpos{
        left: 50%;
    }
    .navbar .nav > li.active > a{
        background-color: rgba(0,0,0,.9);
    }

    .navbar .nav > li > a:hover, 
    .navbar .nav > li > a:focus,
    .navbar .nav > li.active > a:hover, 
    .navbar .nav > li.active > a:focus{
        background-color: rgba(0,0,0,.8);
    }
}
/*fim navbar*/

/* old */


.mt5-cell {
    padding-top:15px;
}
body.sb-l-m #sidebar_left{
    height:auto;
}

body.sb-l-m .sidebar-menu > li > a > .sidebar-title{
    background-color: #fff;
    font-size:13px;
    border:0px;
    top: 0px;
    height: 48px;
    line-height: 52px;
    box-shadow:rgba(0,0,0,.2) 5px 5px 3px;
}

body.sb-l-m .sidebar-menu > li > ul{
    border:0px;
}

aside{
    position:relative;
}

aside header{
    border-right:1px solid #38383c;
    height:46px;
    background-color:#242427;
}

a:hover{
    text-decoration:none;
}

ol.timeline-list li.timeline-item:after{
    content:none;
}

ol.timeline-list li.timeline-item .timeline-desc a{
    color: #009f56;
}

ol.timeline-list li.timeline-item .timeline-desc a:hover{
    color: #006648;
}

table.admin-form{
    font-size: 13px;
    color: rgb(96, 96, 99);
    line-height: 1.2;
}

thead tr.bg-light{
    font-size: 13px;
    color: rgb(87, 142, 150);
    font-weight: 600;
    line-height: 1.2;
    border-bottom:1px solid #ccc;
}

a{
    cursor:pointer;
}

/*cores*/
.bgColor-white{
    background-color:#fff !important;
}

.bgColor-medGreen{
    background-color:#0c3c42 !important;
}

.bgColor-darkGreen{
    background-color:#346175 !important;
}

.bgColor-liteGray{
    background-color:#e6ebec !important;
}

.bgColor-liteBlue{
    background-color:#d6e6eb !important;
}

.color-white{
    color: #fff !important;
}

.color-medGreen{
    color: rgb(12, 60, 66) !important;
}

.color-liteGreen{
    color:#067800;
}

.color-medBlue{
    color: #3498db !important;
}

.color-red{
    color:#ee534f;
}

.color-red span, .color-red{
    color: rgb(255, 0, 0) !important;
}

.color-gold{
    color:#ae8940;
}

.inactiveRow { 
    background-color: #EBEBF2 !important;
}

.inactiveRow .ui-grid-cell{ 
    background-color: #EBEBF2 !important;
}

.btn-system{
    transition:all .15s ease-out;
    border-radius: 5px;
    background-color: rgb(113, 0, 0) !important;
    height: 32px;
}

.btn-system:hover{
    transition:all .15s ease-out;
    background-color:rgb(170, 0, 0) !important;
    border:1px solid rgb(113, 0, 0) !important;
}

.btn-system:focus{
    transition:all .15s ease-out;
    background-color:rgb(189, 0, 0) !important;
    border-color:rgb(170, 0, 0) !important;
}

.btn-system:active{
    transition:all .15s ease-out;
    background-color:rgb(189, 0, 0) !important;
    border-color:rgb(170, 0, 0) !important;
}

.btn-default{
    transition:all .2s ease-out;
    
    color:#3fa43c !important;
    text-transform:none !important;
    text-shadow:none;
}

.btn-default:hover {
    transition:all .2s ease-out;
    
    box-shadow:none;
}

.btn-info{
    transition:all .15s ease-out;
    background-color:#305868 !important;
}

.btn-info:hover{
    transition:all .15s ease-out;
    background-color:#42788e !important;
    border:1px solid transparent !important;
}

.btn-table{
    width: 24px;
    height: 24px;
    font-size: 15px !important;
    padding: 0px;
    box-shadow: none !important;
    margin-top: 10px !important;
    margin-right: 2px !important;
    margin-left: 0px !important;
    padding-left: 2px;
}

.form-group small{
    font-size:10px;
}

.admin-form{
    color:#fff;
}
.admin-form .gui-textarea {
    border-radius: 5px;
    resize: none;
line-height: 19px;
overflow: auto;
max-width: 100%;
height: 200px;
}
.admin-form .gui-textarea:focus {
height: 200px;
}
.regulamentoContent2.admin-form .gui-textarea {
    border-radius: 5px;
    resize: vertical;
line-height: 19px;
overflow: auto;
max-width: 100%;
height: 600px;
}

.admin-form.admin-form-inverse{
    color:#787878;
}

.admin-form .btn-system
.btn-circle{
    border-radius:50%;
    width:26px;
    height:26px;
    padding:0px;
    padding-left: 1px;
}

.admin-form .prepend-icon .field-icon{
    line-height: 31px;
}

.admin-form .prepend-icon .field-icon i{
    font-size: 18px;
}

.textAreaAdj{
    padding-left: 10px !important;
}

/*.admin-form .btn-system{
    background-color:#ae8a40;
}

.admin-form .btn-system:hover{
    background-color:#ae8a40;
    border: 1px solid transparent;
}

.admin-form .btn-system:focus{
    background-color:#578e96;
    border: 1px solid transparent;
}*/

.btn-danger{
    transition:all .15s ease-out;
    background-color:#710000 !important;
}

.btn-circle{
    border-radius:50%;
}

.btn-danger:hover{
    background-color:#e24444 !important;
    border-color:#b5293d !important;
}

.btn-danger:focus{
    background-color:#e24444 !important;
    border-color:#b5293d !important;
}

.btn-danger:active{
    box-shadow: none !important;
}

.btn-activate{
    background-color:#328ee3 !important;
    box-shadow: 0px 2px 0px 0px #2275b0 !important;
    color:#fff !important;
}

.btn-activate:hover{
    background-color:#479ce3 !important;
    border-color:transparent !important;
}

.btn-activate:focus{
    background-color:#479ce3 !important;
    border-color:transparent !important;
}

.btn-activate:active{
    box-shadow: none !important;
}

/*fim cores*/



/*classes*/
.boxLogin{
    position:absolute;
    top:50%;
    left:50%;
    float:left;
    transform:translate(-50%, -54%);
    width:620px;
    height:433px;
    background-image: url(../img/bgLoginBox.png);
    z-index:9;
    display:block;
    padding:30px;
}

.popup{
    z-index:99;
    display:none;
}

.boxMsg{
    position: absolute;
top: 50%;
left: 50%;
float: left;
transform: translate(-50%, -50%);
padding: 10px;
border-radius: 10px;
background-color: #fff;
box-shadow: 0px 7px 27px 0px rgba(0, 0, 0, 0.64);
color: #000;
}

.innerBox{
    position:relative;
    width:100%;
    height:100%;
    display:table;
    padding: 0px 20px;
}

.innerBox .title{
    
    height: 55px;
    margin-top: -11px;
    padding: 15px;
    margin-bottom: 16px;
    margin-left: -20px;
    margin-right: -20px;
    border-bottom: 1px solid #d6d6d6;
}

    .innerBox .title h2{
        font-size: 22px;
        color: #005aab;
        font-weight: bold;
        text-align: left;
        margin:0px;

    }

.innerBox p{
    font-size: 16px;
    line-height: 1.2;
}

.boxWarn{
    width:100%;
    min-height:60px;
    background-color:#ebebf2;
    border-bottom:4px solid #305868;
    margin-top:-20px;
    text-align:center;
}

    .boxWarn span {
        
        font-size:18px;
        font-weight:bold;
        line-height:60px;
    }

.sysLogoBig{
    margin-top:10px;
    position:relative;
    width:176px;
    height:97px;
}

.forgotPass{
    font-size: 13px;
    line-height: 1.2;
}

.forgotPass a{
    text-decoration:underline;
}


.listPerfil{
    padding:10px;
    height:217px;
    overflow-y:scroll;
}

.listPerfil td{
    padding:6px;
}

.listPerfil a{
    color: #939498;
    font-size:12px;
}

.listPerfil a:hover{
    color: #578e96;
    text-decoration:none;
}

.blurIn{
    transition:filter .3s ease-in-out;
    filter: blur(5px);
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px); 
	-o-filter: blur(5px); 
	-ms-filter: blur(5px); 
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
}

.blurOut{
    transition:filter .3s ease-in-out;
    filter: blur(0px);
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px); 
	-o-filter: blur(0px); 
	-ms-filter: blur(0px); 
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
}

.col-sm-24{
    width:20%;
    position: relative;
    min-height: 1px;
    padding-left: 11px;
    padding-right: 11px;
    float:left;
}

.mh93{
    min-height:93px;
}

.mh72{
    min-height:72px;
}

.w460{
    width:460px;
}

.breadcrumb{
    padding: 0px 25px 0 0;
    font-size: 13px;
}

.breadcrumb span{
    font-weight:600;
    color:#ebebf2;
    font-size:13px;
}

.breadcrumb > li + li::before{
    padding:0 2px;
}

.mbn{
    border:0px;
}

.mb0{
    margin-bottom:0px;
}

.mb20{
    margin-bottom:20px;
}

.mb40{
    margin-bottom:40px;
}

.m0{
    margin:0px !important;
}


.panel-menu + .panel-body{
    border-left:0px;
    border-right:0px;
}

.panel-body + .panel-footer{
    border: 0px;
}

.sidebar-menu{
    padding-bottom: 0px;
}



.fs16{
    font-size:16px !important;
}

.fs18{
    font-size:18px !important;
}

.fs25{
    font-size:25px !important;
}

.botClose{
    position:absolute;
    top:0px;
    right:0px;
}

.botClose .btn-sm{
    width:30px;
    height:30px;
    border-radius:50%;
}

.botClose .fa{
    font-size: 21px;
margin-left: -4px;
line-height: 19px;
margin-right: -4px;
}




.btn-excel{
    transition:all .15s ease-out;
    background-color:#ae8a40 !important;
    padding:0px;
    padding-left:10px;
    padding-right:10px;
}

    .btn-excel i {
        font-size:17px;
        color:#fff;
    }

.admin-form button{
    font-size: 16px;
}

.admin-form .btn-success{
    transition:all .2s ease-out;
    background-color:#ffca6e;
    color:#710000;
    border:0px;
}

.admin-form .btn-success:hover{
    transition:all .2s ease-out;
    background-color:#ffe691;
    color:#710000;
    border:0px;
}

.admin-form .btn-success:focus{
    transition:all .2s ease-out;
    background-color:#ffe691;
    color:#710000;
    border:0px;
}

.btn-xl{
    padding-left: 45px;
    padding-right: 45px;
}

.btn-top{
    width: 37px;
    height: 37px;
    border-radius:0px;
    margin-top: 0px;
    font-size:23px;
    padding: 0px !important;
    border-top:0px;
    border-bottom:0px;
}

.btn-xs{
    padding: 2px 6px;
}

.btn-close{
    margin-top: 0px !important;
    margin-right: 0px !important;
    background-color:#e9573f;
    color:#fff !important;
}

.btn-close:hover{
    background-color:#d53c24;
    color:#fff !important;
}

.sb-l-o #content_wrapper{
    margin-left: 0px;
}

.text-light{
    color:white !important; 
}

.rot180-right{
    transition: all .2s ease-out;
    -webkit-transform: rotateY(180deg);     /* Chrome and other webkit browsers */
    -moz-transform: rotateY(180deg);        /* FF */
    -o-transform: rotateY(180deg);          /* Opera */
    -ms-transform: rotateY(180deg);         /* IE9 */
    transform: rotateY(180deg);    /* W3C compliant browsers */
}

.rot90-left{
    transition: all .2s ease-out;
    -webkit-transform: rotate(90deg);     /* Chrome and other webkit browsers */
    -moz-transform: rotate(90deg);        /* FF */
    -o-transform: rotate(90deg);          /* Opera */
    -ms-transform: rotate(90deg);         /* IE9 */
    transform: rotate(90deg);    /* W3C compliant browsers */
}

.sidebar-menu .sidebar-label{
    font-size: 14px;
    color: rgb(163, 173, 175);
    text-transform: uppercase;
    line-height: 1.2;
    font-weight:normal;
}

.sidebar-menu > li > a{
    font-size: 13px;
    color: #242427;
    font-weight: bold;
    line-height: 1.2;
    height: 48px;
    text-transform:uppercase;
    padding-top: 5px;
}

.sidebar-menu > li > a:hover{
    color:#ae8940;
}

.sidebar-menu > li > a > span:nth-child(2){
    font-weight: 300;
    font-style: normal;
    line-height: 37px;
    padding-left: 26px;
}

.sidebar-menu li > a > span.caret{
    color:#fff;
}

.sidebar-menu li > a > span.caret::after{
    margin-top: 10px;
}

.sidebar-menu > li > ul{
    background-color:transparent;
    z-index:-1;
}

    .sidebar-menu > li > ul > li > a {
        font-size: 14px;
        color: rgb(163, 173, 175);
        line-height: 1.1;
        padding: 4px 20px 4px 30px;
    }

.sidebar-menu > li > ul > li:first-child > a{
    padding-top: 8px;
}

.sidebar-menu > li > ul > li:last-child > a{
    padding-bottom: 8px;
}

.icoMenu{
    height: 20px;
    width: auto;
    margin-left: 20px;
    margin-bottom: 4px;
}

.icoMenuContract{
    height: 25px;
    margin-left: 18px;
    margin-top: 7px;
}

.markMenuBar{
    position:absolute; 
    top:0px; 
    left:0px; 
    width:5px; 
    height:48px; 
    background-color:#ae8940;
    display:none;
}

.menuItemActive a{
    background-color:#ebebf2 !important;
}

.menuItemActive a:hover{
    background-color:#ebebf2 !important;
}

.menuItemActive a span{
    color:#AE8940;
}

.menuItemActive .markMenuBar{
    display:block;
}

.sysMenuContract{
    margin-top:62px !important;
}

.page-content{
    background-color:#fff; 
    border-radius:5px; 
    padding:20px;
}

.page-heading{
    font-weight:bold;
    text-transform:uppercase;
    padding: 10px 20px;
    background-color: transparent;
    margin: -25px -20px 0px;
    border-bottom: 0px;
    color:#305868;
    margin-bottom: 20px;
}

.page-heading h4{
    font-size: 16px;
    color: #305868;
    font-weight: 600;
    line-height: 1.2;
}

.admin-form .select > select{
    height:30px;
    padding: 0px 10px;
}
.admin-form .select{
    height:30px;
}
.admin-form .select .arrow{
    top: 5px;
}

.admin-form .field-label{
    margin-bottom: 4px;
    font-size: 13px;
    color: rgb(96, 96, 99);
    line-height: 1.2;
    text-align: left;
}

.page-heading .section h4{
    color:#606063;
    font-weight:600;
    font-size:16px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.admin-form .section{
    margin-bottom: 14px;
}

.admin-form panel-tile{
    box-shadow:none;
}

.admin-form .panel-body{
    padding:0px;
    border-radius: 3px;
    padding-bottom: 10px;
}
.admin-form .select{
    z-index:0;
}

.admin-form .panel-heading{
    background-image:none;
    background-color:transparent;
    border-bottom: 2px solid #578e96;
    padding: 0px;
    text-transform:uppercase;
    height:26px;
}

.panel-active{
    cursor:pointer;
}

.admin-form .panel-group .panel-default{
    border-color: transparent;
    box-shadow: none;
}

.admin-form .panel-group .panel-title{
    font-size: 16px;
    color: rgb(87, 142, 150);
    line-height: 1.2;
    text-align: left;
    font-weight:600;
    text-decoration:none;
}

.panel-heading span{
    font-size: 20px;
    color: rgb(87, 142, 150);
    line-height: 2.2;
}

.panel-closeIco{
    transition:all .2s ease-out;
    top: -14px;
    position: relative;
    float: right;
}

.panel-collapse .list-group{
    box-shadow: none;
}

.panel-scroller{
    overflow:auto;
}

.scroller-content {
    overflow:unset;
}

.admin-form label{
    margin-bottom:6px;
}
.admin-form.admin-form-inverse label{
    color:#787878;
    margin-bottom:6px;
}

.admin-form label small{
    font-size:10px;
}

.admin-form .gui-input{
    height: 40px;
    padding-top:0px;
    padding-bottom:0px;
    border-radius:2px;
    border: 1px solid #d4d4d4;
}

.admin-form .gui-input:focus {
    border: 1px solid #d4d4d4;
}

.admin-form .micro-header{
    text-align:left;
    font-size: 16px;
    color: rgb(87, 142, 150);
    line-height: 1.2;
    text-transform:uppercase;
    font-weight:bold;
    margin-bottom:0px;
}

h5.micro-header {
    color:#606063;
    font-weight:500;
    font-size:14px !important;
    margin-top: 0px;
    margin-bottom: 0px;
}

.b-12{
    bottom: -12px;
}

.borRight{
    border-right:2px solid #e2e2e2;
}

.inline{
    display:inline !important;
    display:ruby !important;
    display:-ms-inline-flexbox !important;
}

.inline-sp{
    display:inline-flex !important;
    display:ruby !important;
    display:-ms-inline-flexbox !important;
}

.dateField{
    width:115px !important;
}

.CPFField{
    width:125px !important;
}

.RGField{
    width:123px !important;
}

.CEPField{
    width:92px !important;
}

.TelField{
    width: 116px !important;
}

.icon-bg{
    opacity:0.25;
}

.fa-icon-paste:before{
    content: "\f0ea";
}

.fa-icon-rocket:before{
    content: "\f135";
}

.fa-icon-signal:before{
    content: "\f012";
}

.fa-icon-cogs:before{
    content: "\f085";
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #fff;
}

.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: #f5f5f5;
}

.greenSign{
    background-color:#067800 !important;
    color:#fff;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    min-width:28px;
}

.greenSign-line{
    color:#067800 !important;
    -webkit-box-shadow:inset 0px 0px 0px 1px rgb(185, 78, 60);
    -moz-box-shadow:inset 0px 0px 0px 1px #067800;
    box-shadow:inset 0px 0px 0px 1px #067800;
}

tr.red-line > td{
    color:#fff !important;
    background-color:rgb(185, 78, 60) !important;
}

tr.purple-line > td{
    color:#fff !important;
    background-color:#a992e2 !important;
}

tr.blue-line > td{
    color:#fff !important;
    background-color:#55badf !important;
}

.noVertical{
    vertical-align:top !important;
}

.redBox{
    position:relative;
    display:inline-block;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    background-color: rgb(185, 78, 60);
    width: 24px;
    height: 24px;
}

.blueBox{
    position:relative;
    display:inline-block;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    background-color: #55badf;
    width: 24px;
    height: 24px;
}

.purpleBox{
    position:relative;
    display:inline-block;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    background-color: #a992e2;
    width: 24px;
    height: 24px;
}

.open-popup-link{
    text-decoration:none !important;
}

.popup-basic .panel-heading span{
    text-transform:uppercase;
    line-height: normal;
    font-weight: 600;
}

.popup-basic .panel-heading {
    height: 35px;
    line-height: 33px;
}

.popup-basic .field-label{
    margin-bottom: 0px;
}

.popup-basic h4{
    font-size:16px;
    line-height: 1.3;
    margin-top: 6.5px;
}

.popup-basic h3{
    font-size:13px;
    line-height: 1.3;
    margin-top: 2px;
}

.popup-basic .panel-footer{
    padding: 6px 14px;
}


.panel{
    background-color:unset;
    border:0px;
    -webkit-box-shadow:none;
    box-shadow:none;
}

.panel-heading{
    font-family:'Roboto', sans-serif;
    background: unset;
    height: 45px;
    margin-bottom: -45px;
    z-index: 80;
    font-size: 20px;
    color: #686d72;
    font-weight: bold;
    padding:0px 20px;

    border:none;
    border-bottom: 1px solid #e2e2e2;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.panel-heading h2{
    margin-top:12px;
    font-size: 18px;
    position: absolute;
}

.panel-body{
    border-radius: 5px;
    background-color: #fff;
box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
 
    border:0px;
}

.noTopRadius{
    border-top-left-radius:0px;
    border-top-right-radius:0px;
}

.noBotRadius{
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}

.mfp-close{
    margin-top: -4px;
}

.blur{
    transition:all .2s ease-out;
    filter:blur(2px);
}

.checkbox-inline input[type="checkbox"], .radio-inline input[type="radio"]{
    margin-top: 2px;
}

.showGroup{
    display:block;
}

.hideGroup{
    display:none;
}

.hideButton button{
    display:none;
}

.showButton button{
    display:block;
}

.section h4{
    color: #606063;
    font-weight: 600;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.maxW500{
    max-width: 500px;
}

.maxW850{
    max-width: 850px;
}

.maxW1100{
    max-width: 1100px;
}

.minW85{
    min-width: 85px;
}

.minW117{
    min-width: 117px;
}

.ngn-error{
    background-color: rgba(255, 78, 60, .9);
    padding: 3px 30px;
    line-height: 18px;
    min-height: 46px;
}

.ngn-dismiss{
    background-color: #FFF;
    border-radius: 15px;
    box-shadow: none;
    color: #F00;
    cursor: pointer;
    display: none;
    font-size: 1.8em;
    font-weight: bold;
    height: 30px;
    line-height: 27px;
    opacity: 1;
    position: absolute;
    right: 40px;
    text-shadow: none;
    top: 9px;
    width: 30px;
}

.ngn-dismiss:hover {
    background-color: #FFF;
    box-shadow: rgba(0,0,0,.5) 2px 2px 5px;
}

.ngn{
    padding: 11px 10px !important;
}

.ngn-message{
    font-size:13px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.ngn-message h3{
    font-size:18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ngn-alertLogin{
    top: 3px !important;
    position: relative !important;
    font-size: 15px !important;
}

.val-error{
    color:#f00 !important;
    font-size:11px !important;
    font-style:italic !important;
    text-align:right;
}

.val-error-field{
    border:1px solid #f00 !important;
    border-radius:3px !important;
}

.datePickerPos{
    margin-top: 4px !important;
    margin-left: 2px !important;
    border-radius: 3px !important;
    height: 29px !important;
    border:1px solid #ddd;
}

    .datePickerPos input {
        /*margin-left:-10px;*/
    }
.toltip-question{
    color: #757575;
margin-right: 10px;
position: absolute;
right: 10px;
top: 32px;
cursor: pointer;

}
.md-datepicker-input-container{
    border:none;
    top: 6px;
    width:85px;
    overflow:hidden;
    margin-left: 0px !important;
}

.md-datepicker-input-container button{
    display:none;
}

md-datepicker{
    margin-left: 0px;
}
md-datepicker.form-control{
    padding:0px;
}
md-datepicker.gui-input{
    padding:0px;
}

.md-ripple-container{
    display:none;
}

.md-datepicker-button{
    margin-top: -15px !important;
}

.md-datepicker-input-mask-opaque{
    left:9px !important;
}

.md-datepicker-calendar-pane{
    margin-left: 10px;
}
.form-control {
    display: block;
    width: 100%;
    height: 30px;
    padding: 9px 12px;
    font-size: 13px;
    line-height: 1.49;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: none;
    border-radius: 6px;
    -webkit-transition: border-color ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s;
    transition: border-color ease-in-out .15s;
}

.ngn-warn{
    background-color:#ff7703e6 !important;
    height: 45px !important;
    padding: 9px 30px;
}

.ngn-warn > .ngn-message{
    font-size: 17px;
}

.validation-messages{
    font-size:11px;
    color:#f00;
    margin-top: -13px;
    margin-left:3px;
}

.md-default-theme .md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator, .md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator{
    border:none;
}

.md-default-theme .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-default-theme .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator{
    background-color:#3498DB !important;
}

.md-calendar-date.md-focus .md-default-theme .md-calendar-date-selection-indicator, .md-calendar-date.md-focus .md-calendar-date-selection-indicator, .md-default-theme .md-calendar-date-selection-indicator:hover, .md-calendar-date-selection-indicator{
    background-color:transparent;
}

.md-calendar-date.md-focus .md-default-theme .md-calendar-date-selection-indicator, .md-calendar-date.md-focus .md-calendar-date-selection-indicator, .md-default-theme .md-calendar-date-selection-indicator:hover, .md-calendar-date-selection-indicator:hover{
    background-color:transparent !important;
    border:2px solid #3498DB;
}

#loading-bar-spinner{
    position:fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}

#loading-bar .bar{
    height:3px;
    background: #00ccff;
}

#loading-bar-spinner .spinner-icon{
    width: 50px;
    height: 50px;
    border: solid 8px transparent;
    border-top-color: #65e0ff;
    border-left-color: #00ccff;
    border-bottom-color: rgba(0,0,12,.2);
    border-radius: 50%;
}

.badge{
    font-size: 11px;
}

/*ui-grid*/
.grid {
    width: 100%;
    height: 300px;
}

.ui-grid {
    border:0px;
}

.ui-grid-top-panel-background, .ui-grid-top-panel {
    background:#a3b1b8;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.ui-grid-cell{
    border:0px; 
    display: table;
    color: #000;
}

.ui-grid-header-cell{
    border:0px
}

.ui-grid-icon-angle-down{
    display:none;
}

/*.ui-grid-icon-blank::before{
    content: '\c358';
    visibility:visible;
}*/

.ui-grid-icon-up-dir, .ui-grid-icon-down-dir{
    color:#ae8940;
}

.ui-grid-cell-contents{
    padding: 0px;
    font-size:13px;
    top: 50%;
    white-space: normal;
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
}

.ui-grid-cell-bot{
    top: 50%;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.ui-grid-cell-contents a{
    color: #000;
    top: 0% !important;
    text-decoration: underline !important;
}

.ui-grid-header{
    border:0px;
    font-weight:normal;
}

.ui-grid-header-cell{
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}

.ui-grid-header-cell-wrapper{
    height: 35px;
}

.ui-grid-header-cell-label {
    display:inline-block;
    white-space:initial;
}

.ui-grid-header-cell .ui-grid-cell-contents{
    min-width: 100%;
    display: block;
}

.grid .ui-grid-row .red{
    background-color:#d6140b !important;
    color:#fff;
}

.ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell{
    color:#000;
    background-color: #c9dde1 !important;
}

#menuitem-1{
    display:none;
}

.ui-grid-menu{
    top:-1px;
    right: 7px !important;
}

.ui-grid-menu-button{
    width: 18px;
    background-color: transparent;
    border: 1px solid transparent;
    height: 25px;
    right: 6px;
    top: 0px;
}

.ui-grid-menu .ui-grid-menu-inner ul li button{
    font-size:13px;
}
input[type="text"].ui-grid-filter-input {
    border:none;
}
.ui-grid-icon-menu{
    margin-left: -2px;
    line-height: 20px;
    color:#fff;
}

.ui-grid-filter-button{
    position: absolute;
    z-index: 99;
    right: 20px;
    width: 17px;
    padding: 0px;
    margin-top: 30px !important;
    height: 25px;
    border-radius: 0px;
    background-color:transparent;
    color:#fff !important;
    box-shadow:none;
    border:transparent;
}

/*Ativar caso tenha quebra de linha na celula
.ui-grid-viewport .ui-grid-cell-contents {
  word-wrap: break-word;
  white-space: normal !important;
}
.ui-grid-cell {
    display:table;
}
.ui-grid-cell .ui-grid-cell-contents{
    display: table-cell;
    vertical-align: middle;
}
*/

.ui-grid-viewport{
    background-color: rgba(0,0,0,.2);
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}

.ui-grid-header-canvas{
    font-size: 13px;
    color: #fff;
    font-weight: normal;
}

.ui-grid-header-cell:last-child .ui-grid-column-resizer.right{
    border-right:0px;
}

.ui-grid-row{
    border-bottom:28px solid #d2d4d6;
    background-color: #fff;
}

abbr[data-original-title], abbr[title]{
    cursor: default;
    border-bottom: 0px;
}

.ui-grid-pager-panel{
    bottom: -10px;
}

.ui-grid-pager-control input{
    height:33px;
    border-radius: 5px;
    padding: 5px 5px;
}

.ui-grid-pager-row-count-picker select{
    height:33px;
    border-radius: 5px;
}

.ui-grid-pager-row-count-picker .ui-grid-pager-row-count-label{
    color:#fff;
}

.ui-grid-pager-control .ui-grid-pager-max-pages-number{
    vertical-align:unset;
    color:#fff;
}

.ui-grid-pager-control button{
    height: 33px;
    min-width: 33px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    
}

.ui-grid-pager-control button:hover {
    
}

.ui-grid-pager-control button:focus {
    
}

.ui-grid-pager-control button:active {
    
    box-shadow:inset rgba(0,0,0,.3) 0px 0px 10px;
    
}

.ui-grid-pager-count-container .ui-grid-pager-count{
    color:#fff;
}
.ui-grid-row:nth-child(2n) .ui-grid-cell {
    background-color: #f2f2f2;
}
.ui-grid-row:nth-child(2n+1) .ui-grid-cell {
    background-color: #ffffff;
}
.ui-grid-column-resizer.left{
    border-left: 1px solid #c0c7c9;
}

.no-rows {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, .3);
  color: #0C3C42;
  z-index:999;
}

.no-rows .msg {
    opacity: 1;
    position: absolute;
    top: 20%;
    left: 0%;
    width: 100%;
    height: 67%;
    line-height: 200%;
    background-color: #eee;
    border-radius: 4px;
    border: 1px solid #C5C5C5;
    text-align: center;
    font-size: 24px;
    display: table;
}

.no-rows .msg span {
  display: table-cell;
  vertical-align: middle;
}
/*fim ui-grid*/


form .progress {
    line-height: 15px;
}

.progress {
    height:20px;
    text-align:center;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
    color: #fff;
    font-weight: bold;
    padding: 3px;
    margin-top: 4px;
}

.statusIcon{
    background-color:#e3334c;
    display:block;
    width:72px;
    height:72px;
    border-radius:5px;
    color:#fff;
    padding:5px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
    text-align:center;
}

.statusIcon label{
    font-weight:bold;
    color:#fff;
    font-size:12px;
    bottom:0px;
    position:relative;
}

    .statusIcon i {
        font-size: 48px;
    }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
    border-bottom: 1px solid #fff;
    font-size: 17px;
  
    color:#bd0000 !important;
    background-color:#fff;
    line-height: 0.824;
    text-align: left;
    text-transform:uppercase;
    font-weight:bold;
    padding: 20px 40px 20px 40px;
}

.nav-tabs > li > a{
    font-size: 17px;

    color: #fff !important;
    line-height: 0.824;
    text-align: left;
    text-transform:uppercase;
    font-weight:bold;
    padding: 20px 40px 20px 40px;
    background-color:#cc070b;
    border:none;

}

    .nav-tabs > li > a:hover{
        background-color:#e63034;
    }

.boxContent{
    width:100%;
    border-radius: 25px;
    background-color: rgba(251, 14, 19,.3);
    box-shadow: 0px 7px 27px 0px rgba(0, 0, 0, 0.64);
}

.boxTitle{
    background-color:#fff;
    border-radius:25px;
    height: 75px;
    background-image: -moz-linear-gradient( 90deg, rgb(255,208,208) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255,208,208) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(255,208,208) 0%, rgb(255,255,255) 100%);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.26);
    padding:16px;
}

    .boxTitle h2 {

        font-size: 20px;
        color: rgb(189, 0, 0);
        font-weight: bold;
        text-align: center;
        margin:0px;
    }

    .boxTitle p{
        font-size: 12px;
        color: rgb(189, 0, 0);
        text-align: center;
        width:100%;
        margin:0px;
    }

.box-sm{
    height:40px;
    padding:8px 20px;
}

.box-sm h2{
    text-align:left !important;
}

.boxBody{
    padding:30px;
}

.boxBody p{
    color:#fff;
}

.boxBody a:hover{
    text-decoration:underline;
}

.boxBody h3{
    font-weight:normal
}

.photo img{
    border-radius:50%;
}

p.small{
    font-size:11px;
}



.styled-select {
   height: 29px;
   overflow: hidden;
   border-radius:20px;
   
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 12px;
   height: 29px;
   cursor:pointer;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   border: 1px solid #d4d4d4;
border-radius: 20px;
}

.styled-select.slate {
   background: url(../../assets/img/2e3ybe1.png) no-repeat right center;
   height: 30px;
   background-color: #fff;
}

.styled-select.slate select {
   font-size: 14px;
   height: 30px;
   min-width: 178px;
   width: calc(100% + 20px);
}

.styled-select select > option:hover {
    background-color:#f00;
    color:#fff;
}

.dotedline{
    border-bottom: 1px dotted #fff;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

.imgBox{
    width: 250px;
    height: 113px;
    background-size:contain;
    background-repeat:no-repeat;
    border:2px solid #fff;
    border-radius:10px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

input.ng-invalid-cpf{
    background-color:rgb(255, 184, 184);
}

.content-center{
    left: 50%;
    transform: translate(-50%);
    position: absolute;
}

.vertical-center{
    top:50%;
    transform: translate(0, -50%);
}

.divOverlay{
    position: absolute;
    top: 0px;
    left: 0px;
    padding-left: 10%;
    padding-top: 16%;
    width:100%;
}

.noOverflow{
    overflow: hidden;
}
/*fim classes*/



/*layers*/
#mainLogin{
    width:100%;
    background-image: url('../img/bgLogin.jpg');
    background-size:cover;
    /*height: 100vh;*/
}

#curve1{
    position:absolute;
    top:50%;
    transform:translate(0, -50%);
    background-image: url(../img/curve1.png);
    background-size:cover;
    width:2650px;
    height:704px;
}

#curve2{
    position:absolute;
    top:50%;
    transform:translate(0, -50%);
    background-image: url(../img/curve2.png);
    background-size:cover;
    width:2650px;
    height:704px;
}

#icpLogo{
    width:101px;
    height:130px;
}

#popups{
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    display:none;
    z-index:9999;
}

#blocker{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    display:none;
    z-index:99;
    background-color:rgba(0,0,0,.5);
}

#boxForgot{
    width:550px;
}

#boxEcluirBanner{
    width:500px;
}
#main-admin{
    position:relative;
    background-color:#f5f8fa;
    min-height:1px;
    width:100%;
    
    min-height: calc(100vh - 96px);
}
#main{
    position:relative;
    background-color:#fff;
    min-height:1px;
    width:100%;
    background-image: url('../img/bgLogin.jpg');
    background-size:cover;
    min-height: calc(100vh - 96px);
}

#main:before{
    background:#fff;
    position:relative;
}

#homeBg{
    position: absolute;
    top: 98px;
    left: 0px;
    width: 100%;
}

#sidebar_left{
    position:relative;
    width:280px;
    padding-top: 0px;
    padding-bottom: 10px;
}

#toggle_sidemenu_l{
    transition:all .2s ease-out;
    font-size: 21px;
}

#userInfo{
    position: relative;
    display: inline-block;
    margin:0px;
    height:46px;
    border-left:1px solid #38383c;
}

#userInfo h6{

    font-weight: 300; 
    font-style: normal;
    margin:0px;
    top: 32%;
    position: relative;
    font-size:14px;
    color:#fff;
    display:inline;
}

#userInfo button{
    margin-top:14px;
    background-color:transparent;
    border:0px;
}

#userInfo .dropdown{
    padding-left:20px;
}

#userInfo .dropdown-menu{
    top: 130%;
    min-width: 100%;
    background-color: #242427;
}

#userInfo .dropdown-menu > li > a{
    color:#C6C6C6
}


#userInfo .dropdown-menu > li > a:hover{
    color:#fff;
    background-image:none;
    background-color:transparent;
}

#content_wrapper{
    margin-left:0px !important ;
    position: relative;
    height:100%;
    _width: calc(100% - 250px);
    width: 100%;
}

#content.table-layout > div{
    padding-top:20px;
}

#content.table-layout > div, #content.table-layout > section{
    padding: 25px 20px 20px;
}

#topbar.alt{
    min-height: 46px;
    height: 46px;
    padding: 0px;
    background-color:#242427;
    border:0px;
}


#topbar .btn-danger.btn-sm{
    font-size: 20px;
    line-height: 0;
    margin-top: 8px;
    height: 30px;
    width: 38px;
    text-align: center;
    padding: 0px;
}

#topbar .btn-primary.btn-sm{
    font-size: 17px;
    line-height: 0;
    margin-top: 8px;
    height: 30px;
    width: 38px;
    text-align: center;
    padding: 0px;
}

iframe{
    border:1px solid rgb(113, 0, 0);
}

.btn-primary:hover{
    background-color:#2384c6;
}

#topbar button p{
    display:inline;
}

#topbar .btn-default{
    padding: 3px 10px;
}

#topbar .btn-default i{
    font-size:22px;
}
.admin-form button.btn-small{
    font-size:14px;
    padding: 0px 10px 0px 10px;
}
#breadbar.alt{
    min-height: 40px;
    padding: 10px;
    background-color:#28373b;
}

#breadbar.alt a{
    color:#ebebf2;
}

#breadbar.alt a:hover{
    color:#fff;
    text-decoration:none;
}

#breadbar.alt h4{
    padding:0px;
    margin:0px;
    text-transform:uppercase;
    font-size: 13px;
    font-weight:normal;
    line-height: 1.2;
}

#content{
    height: calc(100vh - 121px);
    height: -moz-calc(100vh - 121px);
    height: -webkit-calc(100vh - 121px);
    background-color:#ebebf2;
}
#toggle_sidemenu_l{
    line-height: 30px;
    width: 30px;
    height: 30px;
    margin-right: 28px;
}

#sysLogo{
    position: relative;
    width: 100%;
    height: auto;
    top: 0px;
    float: left;
    margin-top: 20px;
}

#sysMenu{
    position: relative;
    float: left;
    display: block;
    top: 0px;
    width: 100%;
    height: auto;
    margin-top:20px;
}

#content-footer{
    position:relative;
    width:100%;
    left:unset;
    background-color: #6a1111;
    border-top: none;
    height: 36px;
    padding: 8px;
}

#content-footer.loginFooter{
    width:100%;
    left:unset;
    background-color: #6a1111;
    border-top: none;
    height: 36px;
    position:fixed;
    bottom:0px;
}

#content-footer a{
    color:#697077;
}

#content-footer a:hover{
    color:#ebebf2;
}

#content-footer .footer-return-top span{
    top: 1px;
    color: #697077;
}

#content-footer .footer-return-top{
    background-color:transparent;
    border:1px solid #697077;
}

.footer-return-top:hover{
    background-color:#ae8940 !important;
    border:0px;
}

.footer-return-top:hover span{
    color:#fff !important;
}

#widgets{
    z-index:0;
}

#pdfViewer{
    width:100%;
    min-height:695px;
}

#logoSys{
    height: 100%;
}
#logoSys img{
    top: 50%;
    position: relative;
    transform: translate(0, -50%);
}

#loadingLogin{
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color:#082342;
    background-size: cover;
    z-index:10;
}
/*fim layers*/



/*carrousel*/
.carousel-inner {
    height: 350px;
}

.carousel-inner img{
    width: 100%;
}

.carousel-indicators .active{
    background-color:#ff0000;
    border:0px;
}

.carousel-indicators li{
    background-color:#fff;
    border:0px;
}
/*fim carrousel*/

/*responsividade*/
@media (max-width:1100px) {
    #content_wrapper{
        left:0px !important;
    }
}

@media (max-width:815px){
    #topbar.alt{
        min-height:43px;
    }
}
/*fim responsividade*/


/*angular material*/
.md-block label{
    color:#a9a9aa;
}

md-input-container{
    margin: 0px 0 !important;
}

.md-input-focused label{
    color:#28373B !important;
}

.md-input-focused input{
    border-color:#28373B !important;
}

.md-input-focused .md-placeholder{
    color:#28373B !important;
}

.md-input-focused .md-select-placeholder{
    color:#28373B !important;
}

.md-input-focused .md-select-value{
    border-color:#28373B !important;
}

md-whiteframe{
    color:#fff;
    min-height:70px;
    border-radius:5px;
}

md-whiteframe span{
    display:block;
}

md-whiteframe h1{
    margin:0px;
}

.layout-padding{
    padding:0px;
}

.hint{
    font-size: 11px;
    color: #7788c5;
}
/*fim angular material*/


/*tags input*/
tags-input{
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    order: 2;
    display: inline-table;
    margin-top: 0;
    background: none;
    padding: 2px 2px 1px;
    border-width: 0px;
    line-height: 26px;
    height: 30px;
    -ms-flex-preferred-size: 26px;
    border-radius: 0;
    border-style: solid;
    width: 100%;
    box-sizing: border-box;
    float: left;
}

tags-input .tags .input{

}

tags-input .tags{
    border:none;
    outline:none;
    box-shadow:none;
    border-bottom:1px solid #ccc;
}

    tags-input .tags {
        box-shadow:none !important;
    }

    tags-input .host{
        height:auto;
    }

tags-input .tags .tag-item{

    background:#fff;
}

tags-input .tags.focused{
    border-bottom:2px solid #28383d;
    height: 33px;
}
/*fim tags input*/


/*responsividade*/
@media (min-width:20px){
    .navbar-nav > li > a {
    padding-top: 15.5px;
    padding-bottom: 15.5px;
    color: #fff;
    border-bottom: 1px solid #598db7;
}
}
@media (max-width:1140px) {
    .navbar .social{
        transition:all .2s ease-out;
        margin-top:0px;
    }
}

@media (max-width:1100px) {
    #content_wrapper{
        left:0px !important;
    }
}

@media (max-width:991px){

    .fixpos{
        left: 57.7%;
    }
    
    .hide991{
        display:none;
    }
}

@media (max-width:900px){
    .body.sb-l-m .navbar-brand, body.sb-l-o .navbar-brand{
        display:block;
    }
    .navbar-brand > img{
        height: 70%;
        margin-top: 12px;
    }
}

@media (max-width:815px){
    #topbar.alt{
        min-height:43px;
    }
    .box-admin-log3{
    background: url(../img/login-box2.png) center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
}
}

@media (min-width:768px) {
    #menuOptions {
        top: -400px;
    }
    
}

@media (max-width:679px) {
    .carousel-inner{
        height: 125px;
    }
}

@media (max-width:479px){
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{
        border:0px;
    }
    .navbar .social{
        display:none;
    }
    .boxTitle h2{
        font-size: 16px;
        line-height: 22px;
    }
    .panel-heading h2{
        margin-top: 14px;
        font-size: 14px;
    }
}

@media (max-width:280px) {
    .boxTitle h2{
        font-size: 13px;
    }
}
/*fim responsividade*/