<div ng-controller="galeriaDetController">
    <div class="container">

        <div class="panel mt20">
            <div class="panel-heading">
                <h2>Cadastro de Galeria</h2>
            </div>
            <div class="panel-body admin-form">
                <div class="row mt40">
                    <div class="col-xs-12 col-sm-12 mt40">
                        <div class="form-group">
                            <md-input-container class="md-block flex-gt-sm">
                                <label>Título
                                    <strong class="txt-obrigatorio">*</strong>
                                </label>
                                <input type="text" >
                            </md-input-container>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12">
                        <div class="form-group">
                            <md-input-container class="md-block flex-gt-sm">
                                <label>Subtítulo
                                    <strong class="txt-obrigatorio">*</strong>
                                </label>
                                <input type="text">
                            </md-input-container>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12">
                        <div class="form-group">
                            <md-input-container class="md-block flex-gt-sm">
                                <label>Texto
                                    <strong class="txt-obrigatorio">*</strong>
                                </label>
                                <input  type="text">
                            </md-input-container>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12">
                        <div class="form-group">
                            <md-input-container class="md-block flex-gt-sm">
                                <label>Youtube Id
                                    <strong class="txt-obrigatorio">*</strong>
                                </label>
                                <input type="text"></input>
                                <span id="ptest" class="glyphicon glyphicon-question-sign toltip-question" aria-hidden="true" type="button" data-container="body"
                                    data-toggle="popover" data-placement="bottom" title="Exemplo: B65ghzKoFUE" data-content="O Id fica no final da url do video http://www.youtube.com/B65ghzKoFUE"></span>
                                <script>
                                    $(document).ready(function () {
                                        $('#ptest').popover({
                                            html: true,
                                            trigger: 'click hover'
                                        });
                                    });
                                </script>
                            </md-input-container>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <small>* campos obrigatórios</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 text-center mt20 mb20">

                            <button type="button" class="btn btn-xl btn-success" >Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--fim do body do painel-->
    </div>
    <!--Fim do painel-->
</div>
<!--Fim do container-->