<div ng-controller="galeriaDetController" ng-init="carregar()">
    <div class="container">

        <div class="panel mt20">
            <div class="panel-heading">
                <h2 ng-if="tipo === 'alterar'">Editar item de Galeria</h2>
                <h2 ng-if="tipo === 'deletar'">Deletar item de Galeria</h2>
                <h2 ng-if="tipo === 'visualizar' || tipo ==='adicionar'">Cadastro item de Galeria</h2>
            </div>
            <div class="panel-body admin-form">
                <div class="row mt40">
                    <div class="col-xs-12 col-sm-12 mt40">
                        <div class="form-group">
                            <md-input-container class="md-block flex-gt-sm">
                                <label>Título
                                    <strong class="txt-obrigatorio">*</strong>
                                </label>
                                <input ng-disabled="tipo === 'visualizar' || tipo === 'deletar'" type="text" ng-model="dado.titulo">
                            </md-input-container>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12">
                        <div class="form-group">
                            <md-input-container class="md-block flex-gt-sm">
                                <label>Subtítulo
                                    <strong class="txt-obrigatorio">*</strong>
                                </label>
                                <input type="text" ng-disabled="tipo === 'visualizar' || tipo === 'deletar'" ng-model="dado.subTitulo">
                            </md-input-container>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12">
                        <div class="form-group">
                            <md-input-container class="md-block flex-gt-sm">
                                <label>Texto
                                    <strong class="txt-obrigatorio">*</strong>
                                </label>
                                <textarea type="text" ng-disabled="tipo === 'visualizar' || tipo === 'deletar'"
                                    ng-model="dado.conteudo">

                                </textarea>
                            </md-input-container>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12">
                        <div class="form-group">
                            <md-input-container class="md-block flex-gt-sm">
                                <label>Youtube Id
                                    <strong class="txt-obrigatorio">*</strong>
                                </label>
                                <input type="text" ng-disabled="tipo === 'visualizar' || tipo === 'deletar'" ng-model="dado.imagemThumbnail.url"></input>
                                <span id="ptest" class="glyphicon glyphicon-question-sign toltip-question" aria-hidden="true"
                                    type="button" data-container="body" data-toggle="popover" data-placement="bottom"
                                    title="Exemplo: B65ghzKoFUE" data-content="O Id fica no final da url do video http://www.youtube.com/B65ghzKoFUE"></span>
                                <script>
                                    $(document).ready(function () {
                                        $('#ptest').popover({
                                            html: true,
                                            trigger: 'click hover'
                                        });
                                    });
                                </script>
                            </md-input-container>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <small>* campos obrigatórios</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 text-center mt20 mb20">
                            <button ng-click="adicionar()" ng-if="tipo === 'adicionar'" type="button" class="btn btn-xl btn-default">
                                Salvar
                            </button>
                            <button ng-click="alterar()" ng-if="tipo === 'alterar'" type="button" class="btn btn-xl btn-success">
                                Salvar
                            </button>
                            <button ng-click="deletar()" ng-if="tipo === 'deletar'" type="button" class="btn btn-xl btn-danger">
                                Excluir
                            </button>
                            <button ng-click="voltar()" ng-if="tipo === 'visualizar'" type="button" class="btn btn-xl btn-info">
                                Voltar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--fim do body do painel-->
    </div>
    <!--Fim do painel-->
</div>
<!--Fim do container-->