<div ng-controller="galeriaController">

        <div class="container">
            <div class="panel mt20">
                <div class="panel-heading">
                    <h2>Galeria</h2>
                    <br>

                </div>
                <div class="panel-body admin-form">
                    <div class="row mb40"> </div>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <a class="btn btn-xl btn-success">Cadastrar Galeria</a>
                        </div>
                    </div>

                    <div class="row mt20 mb20">
                        <div class="col-xs-12 text-center">
                            tabela
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>