<div ng-controller="galeriaController">

    <div class="container">
        <div ng-view></div>
        <div class="panel mt20">
            <div class="panel-heading">
                <h2>Galeria</h2>
                <br>

            </div>
            <div class="panel-body admin-form">
                <div class="row mb40">

                </div>

                <div class="row mt20 mb20">
                    <div class="col-xs-12 text-center">
                        <h1>{{title}}</h1>
                    </div>
                </div>

                <div class="col-xs-12 text-center" ng-repeat="x in galeria">
                    <figure>
                        <a href="{{ x.imagemPrincipal.url }}">
                        <img style="padding: 6%;" class="col-xs-12 text-center" ng-src="{{ x.imagemPrincipal.url  }}" />
                    </a> 
                    </figure>

                    <h1><u> {{ x.titulo }}</u></h1>

                    <h3>{{x.subTitulo }}</h3>

                    <h5>{{ x.conteudo }}</h5>
                    <br>
                    <button  class="btn btn-xl btn-primary">
                        <u>editar</u>
                    </button>
                </div>

                <div class="row">
                    <div style="padding: 6%;" class="col-xs-12 text-center">
                        <a href="#/galeria/detalhe" class="btn btn-xl btn-success">Cadastrar Galeria</a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>