<div ng-controller="galeriaController">

        <div class="container">
            <div class="panel mt20">
                <div class="panel-heading">
                    <h2>Galeria</h2>
                    <br>

                </div>
                <div class="panel-body admin-form">
                    <div class="row mb40">

                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <a class="btn btn-xl btn-success" href="#/galeria/cadastro">Cadastrar Galeria</a>
                        </div>
                    </div>

                   <div class="row mt20 mb20">
                      <div class="col-xs-12 text-center">
                        <a class="btn btn-xl btn-success" ng-click="getData()">Visualizar Galeria</a>
                      </div>
                        <div class="col-xs-12 text-center">
                            <div class="card" style="width: 18rem;" ng-if="returnItems" *ngFor="let item of returnItems">
                              <div class="card-body">
                                <h5 class="card-title">{{ returnItems || '' }}</h5>
                                <a class="btn btn-primary" ng-click="deleteItems()">Delete </a>
                              </div>
                          </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>