<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <style>
        body{
            font-family:Tahoma;
        }

        table td{
            padding:10px;
        }
    </style>
</head>
<body>
    <center>
        <table bgcolor="#ffffff" cellpadding="0" cellspacing="0" width="600">
            <thead>
            <tr>
                <th>
                    <img src="../img/emailTop.jpg" />
                </th>
            </tr>
            </thead>
            <tbody>
 
                <tr>
                    <td>
                        <p>Olá {{nome cliente}}</p>
                        <p>Cadastro realizado, agora é só esperar!  </p>
                        <p>Recebemos suas informações e estamos analisando os dados enviados. Fique ligado no seu email 
                        e no portal da DevPartner. </p>
                        <p>Caso você atenda aos requisitos da promoção, você receberá o seu voucher dentro de 3 dias. 
                        </p>
                        <p>
                            Ficou com dúvidas?<br />
                            Acesse o portal <a href="http://www.devpartner.com.br/">www.devpartner.com.br</a> e entre em contato conosco pelos canais disponíveis.
                        </p>
                        <p>
                            Atenciosamente,<br />
                            Equipe DevPartner
                        </p>
                        <p>
                            
                        </p>
                    </td>
                </tr>

                <tr style="height:4px">
                    <td  style="padding:0px"><img src="../img/emailFooter.jpg" width="800" height="4"/></td>
                </tr>
                
            </tbody>
            <tfoot>
                <tr>
                    <td bgcolor="#ffffff">
                        <small>*Este endereço de e-mail não é monitorado, em caso de dúvidas entre 
                            em contato através do Fale Conosco no portal.</small>
                    </td>
                </tr>
            </tfoot>
        </table>
    </center>
</body>
</html>
