<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <style>
        body{
            font-family:Tahoma;
        }

        table td{
            padding:10px;
        }
    </style>
</head>
<body>
    <center>
        <table bgcolor="#ffffff" cellpadding="0" cellspacing="0" width="600">
            <thead>
            <tr>
                <th>
                    <img src="../img/emailTop.jpg" />
                </th>
            </tr>
            </thead>
            <tbody>
 
                <tr>
                    <td>
                        <p>Olá {{nome cliente}}</p>
                        <p>Agradecemos seu interesse em participar da Promoção Panasonic Globo Play! </p>
                        <p>Infelizmente, após análise, a Nota Fiscal enviada não foi aprovada, mas não desanime! Você pode acessar o portal e realizar as tratativas necessárias enviando os dados para uma nova auditoria. </p>
                        <p>Abaixo colocamos o motivo da reprovação:
                            {{motivo}}<br />
                        </p>
                        <p>
                            Ficou com dúvidas?<br />
                            Acesse o portal <a href="http://www.panasonic-globoplay.com.br/">www.panasonic-globoplay.com.br</a> e entre em contato conosco pelos canais disponíveis.
                        </p>
                        <p>
                            Atenciosamente,<br />
                            Equipe Promoção Panasonic Globo Play
                        </p>
                        <p>
                            
                        </p>
                    </td>
                </tr>

                <tr style="height:4px">
                    <td  style="padding:0px"><img src="../img/emailFooter.jpg" width="800" height="4"/></td>
                </tr>
                
            </tbody>
            <tfoot>
                <tr>
                    <td bgcolor="#ffffff">
                        <small>*Este endereço de e-mail não é monitorado, em caso de dúvidas entre
                            em contato através do Fale Conosco no portal.</small>
                    </td>
                </tr>
            </tfoot>
        </table>
    </center>
</body>
</html>
