<div>

  <div class="container">
    <div class="panel mt20">
      <div class="panel-heading">
        <h2>Galeria</h2>
        <br>

      </div>
      <div class="panel-body admin-form">

        <div class="row mb40">
        </div>

        <div class="row">
          <div class="col-xs-12 text-center">
            <a href="#/galeria/cadastro" class="btn btn-xl btn-success">Cadastrar Galeria</a>
          </div>
<!--
          <div class="col-xs-12 text-center">
            <button ng-click="salvarGaleriaJSON()">Salvar arquivos no DB</button>
          </div>
-->
        </div>

        <div class="row mt20 mb20">
          <div class="col-xs-12 text-center">
            tabela
          </div>


        </div>

        <div ng-repeat="post in posts">
          <h1> <a href="#/galeria/edita/{{post.galeriaId}}"> {{post.titulo}} </a> </h1>
          <h2> {{post.subTitulo}} </h2>
          <img src="{{post.imagemThumbnailUrl}}" />
          <p> {{post.conteudo}} </p>
          <button ng-click="remover(post)">Apagar noticia</button>
          <hr />
        </div>

      </div>
    </div>
  </div>
</div>